---
import Layout from "../../layouts/Layout.astro";
const { id } = Astro.params;
import { createClient } from "@supabase/supabase-js";
import markdownit from "markdown-it";
const marked = markdownit({
  linkify: true,
});
const supabaseUrl = "https://tvfskypksxpqwurntbuc.supabase.co";
const supabaseKey = import.meta.env.PUBLIC_KEY;
const supabase = createClient(supabaseUrl, supabaseKey);
const { data, error } = await supabase
  .from("notes")
  .select("*")
  .eq("uid", id)
  .eq("privet", false);
if (data.length == 0) {
  return Astro.redirect("/404");
}
---

<Layout title="Bro Notes">
  <div class="md-con">
    <main>
      <div class="gradient-border-bottom">
        <div class="top">
          <h1>{data[0].name}</h1>
          <div>
            <h2>{data[0].username}</h2>
            <h6>{data[0].created_at.split("T")[0].replaceAll("-", "/")}</h6>
          </div>
        </div>
      </div>
      <!-- <br /> -->
      <!-- <hr /> -->
      <br />
      <div class="gradient-border">
        <div class="data" set:html={marked.render(data[0].data)} />
      </div>
    </main>
   
  </div>
</Layout>
 <style lang="scss">
      .md-con {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        main {
          width: 70vw;
          padding: 20px 20px 0px 20px;
          .data {
            background-color: #13151a;
            border-radius: 6px;
            padding: 25px 30px;
            line-height: calc(22px * 1.618);
          }
          .gradient-border {
            // min-height: calc(90vh - 80px);
            background: linear-gradient(
              90deg,
              rgba(97, 0, 232, 1) 0%,
              rgba(209, 0, 255, 1) 100%
            );
            border-radius: 6px;
            padding: 1px;
            margin-top: 10px;
          }
          .gradient-border-bottom {
            background: linear-gradient(
              90deg,
              rgba(97, 0, 232, 1) 0%,
              rgba(209, 0, 255, 1) 100%
            );
            border-radius: 6px;
            padding-bottom: 1px;
            margin-left: 20px;
          }
          .top {
            background-color: #13151a;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 0px 5px 20px 5px;
            div {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              flex-direction: column;
              h2 {
                color: gray;
                font-size: 18px;
                font-family:
                  system-ui,
                  -apple-system,
                  BlinkMacSystemFont,
                  "Segoe UI",
                  Roboto,
                  Oxygen,
                  Ubuntu,
                  Cantarell,
                  "Open Sans",
                  "Helvetica Neue",
                  sans-serif;
              }
              h6 {
                color: gray;
              }
            }
          }
        }
      }
  </style>